@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #d3e5ee;
  color: #23202a;
  font-family: 'Times New Roman', Times, serif;
}
a{
  color:  #1d1e1f;
}
.content{
  
  max-width: 900px;
  margin: 0 auto;
}
nav{
  
  margin: 15px auto 50px;
  padding: 10px;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  border-bottom: 3px dashed #1d1e1f;
}
nav a{
  color:  #1d1e1f;
  margin-left: 50px;
}
.questionaire{
  margin-left: auto;
  
}

nav .title{
  font-size: larger;
  font-weight: bolder;
  
  margin-right: auto;
}
